<h1>New Shipping</h1>
<%= form_for @shipping do |f| %>
  <p>shipping price: <%= @shipping.price %></p>
  <div>
    <%= f.label :delivery_time %>
    <%= f.select :estimated_arrival_at, time_array %>
  </div>
  <div>
    <%= f.submit "Create"%>
  </div>
<% end %>

  <%= link_to 'Back', shippings_path %>
 
