<h1>Listing Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <%= link_to 'Show Restaurant', restaurant_path(restaurant) %><br /><br />
  <% end %>

<h1>List Catering of Your Working Place</h1>
<%= render "cart_items/modal" %>
<% @caterings.each do |catering| %>
  <p>Combo Name: <%= catering.combo_name %></p>
  <p>Restaurant: <%= catering.restaurant_name %></p>
  <p>Order Number: <%= catering.order_count %> </p>
  <%= link_to 'Order this Combo', new_cart_cart_item_path(
        cart_id: current_combo_cart.id, dish_id: catering.combo.id), 
        remote: true %>
  <br /><br />
<% end %>
