<%= render 'payments/modal' %>
<%= form_for @order, url: customer_orders_path(current_account) do |f| %>
  <div class="field">
    <%= f.hidden_field :shipping_id, value: @order.shipping_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :cart_id, value: @order.cart_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :total_price, value: @order.total_price %>
  </div>
  <div class="field">
    <%= f.label :payment %>
    <%= f.collection_select :payment_id, @payments, :id, :type_method %><br />
    <%= link_to 'Add Payment', new_customer_payment_path(current_account), 
      remote: true %>
  </div>
  <div class="action">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>
