<% @orders.each do |order| %>
  <p>Total: <%= order.total_price %></p>
  <p>Order Time: <%= order.created_at %></p>
  <p>Restaurant: <%= order.cart.restaurant.name %></p>
  <ol>
    <% order.cart.cart_items.each do |item| %>
      <li>
        <%= item.catering.combo.name %> &times; <%= item.quantity %>
      </li>
    <% end %> 
  </ol><br /><br />
<% end %>
