<h1>New Order</h1>
<% if @shipping.nil? %>
  <%= link_to 'Add Shipping', new_shipping_path, remote: true %>
<% else %>
  <div id="shipping_info">
    <%= render @shipping %> 
  </div>
  <hr>
  <div id="price_info">
    <p id="delivery_fee">Delivery Fee: <%= @shipping.price %></p>
    <p>Taxes: <%= @order.taxes %></p>
    <p>Subtotal: <%= @cart.total_price %></p>
    <p id="total">Total: <%= @order.total_price %></p>
  </div>
<% end %>
<hr>
<%= render 'form' %>
