<h1>Restaurant Management</h1>
<% if @restaurants.nil? %>
  <p>You currently has not restaurant. Please add restaurant!<p>
  <%= link_to "Add Restaurant", controller: "restaurants", 
    action: "new", id: current_account.id %>
<% else %> 
  <% @restaurants.each do |restaurant|  %> 
    <%= render restaurant %>
    <%= link_to "Manage Menus", restaurant_dishes_path(restaurant) %><br />  
    <%= link_to "Add Combo", new_restaurant_dish_path(restaurant, combo: true) %>
    <br />
  <% end %>
<% end %>
<h1>Combo Order</h1>
<% @active_combos.each do |combo| %>
  <h4><%= combo.name %></h4>
  <% combo.caterings.each do |catering| %>
    <p>Building Name: <%= catering.shipping.building.city_company_name %></p>
    <p>Order Count: <%= catering.count %></p>
    <p>Delivery Time: <%= catering.shipping.estimated_arrival_at %></p><br />
  <% end %>
<% end %>
<h1>Pending transaction</h1>
<h1>Revenue Summary</h1>
