<h1>New Cellphone</h1>

<%= form_for @cellphone, remote: true do |f|%>
  <%= f.label :cellphone_number %><br />
  <%= f.text_field :number, autofocus: true %><br />
  <%= f.submit 'Send Confirmation', name: 'send' %><br />
  <%= f.label :confirmation_token %><br />
  <%= f.text_field :confirmation_token, autofocus: true %><br />
  <%= f.submit 'Verify', name: 'verify' %>
<% end %>
