<div id="dish_summary">
  <h1>Dishes Order Summary</h1>
  <% if @dish_cart.cart_items.empty? %>
    <p>You don't have any dishes in your cart.</p>
  <% else %>
    <ol>
      <% @dish_cart.cart_items.each do |cart_item| %>
        <% unless cart_item.quantity > 1 %>
          <li><%= cart_item.dish.name %></li>
        <% else %>
          <li><%= cart_item.dish.name %> &times; <%= cart_item.quantity %></li>
        <% end %>
        <%= link_to 'X', cart_dish_cart_item_path(@cart, cart_item), 
          method: 'delete', remote: true %>
      <% end %>
    </ol>
  <% end %>
</div>

<div id="combo_summary">
  <h1>Combo Order Summary</h1>
  <% if @combo_cart.cart_items.empty? %>
    <p>You don't have any combo in your cart! </p>
  <% else %>
    <% @combo_cart.cart_items.each do |item| %>
      <p><%= item.catering.combo.name %> X <%= item.quantity %></p> 
      <p>
      Delivery time: <%= item.catering.shipping.estimated_arrival_at %>
      </p> 
      <p>Price: <%= item.catering.combo.price %></p>
      <%= link_to 'X', cart_combo_cart_item_path(@cart, item), 
        method: 'delete', remote: true %><br /> 
      <% @total_price += item.catering.combo.price * item.quantity %>
    <% end %>
    <p>Total price: <%= @total_price %></p>
    <%= render 'orders/form' %>
  <% end %>
</div>
<%= link_to "Checkout", new_customer_order_path(current_or_guest_account) %>
