<p>
  <strong> name: </strong>
  <%= dish.name %>
</p>
<p>
  <strong> price: </strong>
  <%= dish.price %>
</p>
<p>
  <strong> image: </strong>
  <%= dish.image_url %>
</p>
<p>
  <strong> description: </strong>
  <%= dish.desc %>
</p>

<%= link_to 'Add to Cart', cart%>
<br /><br />
