<p>
  <strong> name: </strong>
  <%= restaurant.name %>
</p>
<p>
  <strong> address: </strong>
  <%= restaurant.address %>
</p>
<p>
  <strong> image: </strong>
  <%= restaurant.image_url %>
</p>
<p>
  <strong> category: </strong>
  <%= restaurant.category.name %>
</p>

<p>
  <strong> certificate: </strong>
  <%= restaurant.certificate_url %>
</p>
